.root {
}

.full {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  white-space: nowrap;
}

.full > * > * {
  width: 100%;
}

.mobileDropdown {
  display: none;
}

@media (max-width: 480px) {
  .root {
    display: none;
  }

  .mobileDropdown {
    display: block;
  }
}
